{% extends base_layout %}

{% import "LexikMonologDoctrineBundle::utils.html.twig" as utils %}

{% block monolog_doctrine_content %}
    <form method="get">
        {{ form_rest(filter) }}
    </form>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Datetime', 'l.datetime') }}</th>
                <th></th>
                <th>{{ knp_pagination_sortable(pagination, 'Message', 'l.message') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for log in pagination %}
            <tr>
                <td>{{ log.datetime }}</td>
                <td>{{ utils.render_count_badge(log.count) }}</td>
                <td>
                    <a href="{{ path('lexik_monolog_doctrine_show', { 'id': log.id }) }}">
                        {{ log.message }}
                    </a>
                </td>
                <td>
                    {{ utils.render_level_label(log.level, (log.channel ~ '.' ~ log.level_name)) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
